{% extends "base.html" %}

{% block script %}
    <!--suppress ALL -->

    <script src="{{ url_for('static', filename='jquery-3.3.1.js') }}"></script>
    <script src="{{ url_for('static', filename='socket.io.dev.js') }}"></script>
    <script>
        const friend = '{{ friend }}';
        const username = '{{ username }}';
    </script>
{% endblock %}

{% block title %}List user{% endblock %}

{% block body %}
    <table border="1" width="400px" id="messages">
        <tbody>
            <tr>
                <th>{{ friend }}</th>
            </tr>
        </tbody>
    </table>

    <form action="">
      <input id="messageField" autocomplete="off" /><button>Send</button>
    </form>

    <br>
    <a href="{{ url_for('list_friends') }}"><button type="button">Back to friends list</button></a>

    <script>
        function getTr(message) {
            let date = new Date();
            date.setTime(message.timestamp * 1000);
            let align = new String();
            if (message.sender == username) {
                align = 'right';
            } else {
                align = 'left'
            }
            return '<tr><td style="text-align: ' +
                align +
                '">' +
                '<div>' +
                '<b>' +
                date.toTimeString() +
                '</b>' +
                '<br>' +
                message.content +
                '</div></tr>';
        }

        $(function () {
            let socket = io.connect('http://' + document.domain + ':' + location.port + '/chat');
            socket.on('connect', function() {
                socket.emit('fetch messages', JSON.stringify({friend: friend}), (data) => {
                    messages = JSON.parse(data);
                    for (let messageIdx in messages) {
                        let message = messages[messageIdx];
                        let newRow = getTr(message);
                        $('#messages tbody').append(newRow);
                    }
                });
            });

            socket.on('push message', (data) => {
                let message = JSON.parse(data);
                let newRow = getTr(message);
                $('#messages tbody').append(newRow);
            });

            $('form').submit(function(){
                socket.emit('send message', JSON.stringify({content: $('#messageField').val(), friend: friend}));
                let newRow = getTr({
                    sender: username,
                    receiver: friend,
                    content: $('#messageField').val(),
                    timestamp: Date.parse(new Date()) / 1000
                });
                $('#messages tbody').append(newRow);
                $('#messageField').val('');
                return false;
            });
        });
    </script>
{% endblock %}