{% extends "base.html" %}

{% block title %}List users{% endblock %}

{% block body %}
    <table border="1">
        <tbody>
            <tr>
                <th>Username</th>
            </tr>
        {% for user in users %}
            <tr>
                <td>{{ user.username }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <a href="{{ url_for('add_user') }}"><button type="button">Add user</button></a>
    <style>
        #logout {
            visibility: hidden;
        }
    </style>
{% endblock %}