{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}
    <form method="POST">
        <label for="username">Username:</label>
        <input type="text" name="username">
        <br>
        <label for="password">Password:</label>
        <input type="password" name="password">
        <br>
        <input type="submit" value="Login">
    </form>
    <br>
    <a href="{{ url_for('add_user') }}"><button type="button">Add user(Register)</button></a>
    <br>
    <a href="{{ url_for('list_users') }}"><button type="button">List users(Manage users)</button></a>
    {% if error %}
        <p>{{ error }}</p>
    {% endif %}
    <style>
        #logout {
            visibility: hidden;
        }
    </style>
{% endblock %}